<h1>New Store</h1>

<%= form_for @store do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>
