<h1>New Metal</h1>
<%= form_for @metal, url: metals_path do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :base_unit %><br>
    <%= f.text_field :base_unit %>
  </div>
  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>
