<h1>New Jewellery Category</h1>
<%= form_for @category, url: jewellery_categories_path do |f| %>
  <div>
    <%= f.label :metal_id, 'Metal' %><br>
    <%= f.collection_select :metal_id, @metals, :id, :name %>
  </div>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>
